@font-face {
    font-family: "Twitter Chirp";
    src: url("../fonts/chirp-regular-web.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "Twitter Chirp";
    src: url("../fonts/chirp-medium-web.woff") format("woff");
    font-weight: 500;
}

@font-face {
    font-family: "Twitter Chirp";
    src: url("../fonts/chirp-bold-web.woff") format("woff");
    font-weight: 700;
}

@font-face {
    font-family: "Twitter Chirp";
    src: url("../fonts/chirp-heavy-web.woff") format("woff");
    font-weight: 800;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a,
li {
    text-decoration: none;
    list-style: none;
    color: var(--black-color);
    margin: 0;
}

button {
    border: none;
    cursor: pointer;
}

html {
    font-family: "Twitter Chirp", "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

:root {
    --gray-color: #eff3f4;
    --light-gray-color: #f7f9f9;
    --hover-gray-color: #f0f3f4;
    --transparent-hover-gray-color: #f0f3f459;
    --icon-twitter-color: #1d9bf0;
    --black-color: #000;
    --text-color: #3b3f43;
    --white-color: #fff;
    --hover-light-color: #1d9cf035;
    --hover-color: #1892e4;
    --light-text-color: #536471;
    --transparent-color: #53647100;
}

.btn {
    background-color: #0f1419;
    color: var(--white-color);
    padding: 8px 15px;
    border-radius: 50px;
    font-size: 0.9em;
    font-weight: 600;
    margin-left: auto;
}

.btn:hover {
    background-color: var(--text-color);
}

/* Left-menu */
.left-menu {
    height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid var(--gray-color);
    width: 80px;
}

@media screen and (min-width: 1024px) {
    .left-menu {
        width: 300px;
    }
}

/* Left-menu Twitter Icon */
.left-menu__twitter-icon-box {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 5px 0;
}

.left-menu__twitter-icon-box:hover {
    background-color: var(--hover-light-color);
}

.left-menu__icon-twitter {
    color: var(--icon-twitter-color);
    font-size: 2em;
}

/* Left-menu menu */
.left-menu ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.left-menu__icons {
    font-size: 1.5em;
}

.left-menu span {
    display: none;
}

@media screen and (max-width: 1024px) {
    .left-menu__icon-box-responsive {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }

    .left-menu__icon-box-responsive:hover {
        background-color: var(--gray-color);
    }
}

@media screen and (min-width: 1024px) {
    .left-menu__menu-links {
        padding: 10px 40px 10px 12px;
        border-radius: 50px;
        display: flex;
        align-items: center;
    }

    .left-menu__menu-links:hover {
        background-color: var(--gray-color);
    }

    .left-menu__icons {
        margin-right: 20px;
    }

    .left-menu span {
        font-size: 1.2em;
        font-weight: 500;
        color: var(--text-color);
        display: inline;
    }
}

/* Left-menu tweet button */
.left-menu__tweet-button {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--icon-twitter-color);
}

.left-menu__tweet-button:hover {
    background-color: var(--hover-color);
}

.left-menu__tweet-button span {
    display: none;
}

.left-menu__tweet-icon {
    font-size: 1.5em;
    color: var(--white-color);
}

@media screen and (min-width: 1024px) {
    .left-menu__tweet-button {
        height: 50px;
        width: 220px;
        border-radius: 50px;
        font-size: 1em;
        font-weight: 600;
        background-color: var(--icon-twitter-color);
        margin-top: 5px;
    }

    .left-menu__tweet-button span {
        color: var(--white-color);
        font-size: 1.2em;
        font-weight: 600;
        display: block;
        margin: auto;
    }

    .left-menu__tweet-icon {
        display: none;
    }
}

/* Left-menu profile */
.left-menu__profile {
    height: 65px;
    width: 65px;
    border-radius: 50px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.left-menu__profile:hover {
    background-color: var(--gray-color);
}

.left-menu__profile-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.left-menu__profile-text {
    display: none;
}

.left-menu__profile-img img {
    width: 45px;
    border-radius: 50%;
    display: block;
    margin: auto;
}

.left-menu__profile-icon {
    display: none;
}

@media screen and (min-width: 1024px) {
    .left-menu__profile {
        height: 65px;
        width: 230px;
    }

    .left-menu__profile-text {
        display: block;
    }

    .left-menu__profile-text p:first-of-type {
        color: var(--text-color);
        font-weight: 600;
    }

    .left-menu__profile-text p:last-of-type {
        color: var(--light-text-color);
    }

    .left-menu__profile-icon {
        margin-right: -20px;
        display: block;
    }
}

/* Content */
.content {
    width: 600px;
    border-right: 1px solid var(--gray-color);
}

/* Content Header */
.content__header {
    padding: 10px 0;
    padding-left: 15px;
    display: flex;
    align-items: center;
    gap: 25px;
    position: sticky;
    top: 0;
}

.content__header-icon {
    font-size: 1.9em;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__header-icon:hover {
    background-color: var(--hover-gray-color);
}

.content__header-text h2 {
    color: var(--black-color);
    font-size: 1.3em;
}

.content__header-text svg {
    margin-left: 4px;
}

.content__header-text p {
    font-size: 0.8em;
    color: var(--light-text-color);
}

/* Content Front page image */
.content__front-page-img {
    background-image: url("../img/front-page-img.jfif");
    aspect-ratio: 27/9;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content__profile-img {
    background-image: url("../img/content-profile-img.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    border: 4px solid var(--white-color);
    overflow: hidden;
    position: relative;
    height: 100px;
    width: 100px;
    top: 18vw;
    left: 20px;
}

@media screen and (min-width: 768px) {
    .content__profile-img {
        height: 140px;
        width: 140px;
        top: 135px;
    }
}

.content__profile-img:hover::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--transparent-hover-gray-color);
    z-index: 4;
}

/* Right menu */
.right-menu {
    display: none;
}

@media screen and (min-width: 1024px) {
    .right-menu {
        width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: sticky;
        top: -500px;
    }
}

/* Right-menu search */
.right-menu__input-group {
    position: sticky;
    top: 0;
    width: 90%;
    padding: 5px 0px;
    background-color: var(--white-color);
    z-index: 2;
}

.right-menu__input-group label {
    position: absolute;
    top: 18px;
    left: 20px;
}

.right-menu__input-group input {
    outline: none;
    display: block;
    height: 45px;
    padding-left: 50px;
    border-radius: 50px;
    background-color: var(--light-gray-color);
    border: 1px solid var(--light-gray-color);
    width: 100%;
}

.right-menu__input-group input::placeholder {
    font-size: 1.1em;
    color: var(--light-text-color);
}

.right-menu__input-group input:focus {
    border: 1px solid var(--icon-twitter-color);
    background-color: transparent;
}

.right-menu__input-group input:focus ~ label i {
    color: var(--icon-twitter-color);
}

/* Right-menu gallery */
.right-menu__gallery {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    border-radius: 15px;
    overflow: hidden;
    margin-top: 10px;
}

.right-menu__gallery img {
    width: 100%;
    height: 100px;
}

/* Right-menu might-like */
.might-like {
    width: 90%;
    border-radius: 15px;
    background-color: var(--light-gray-color);
    margin-top: 15px;
    overflow: hidden;
}

.might-like h2 {
    font-size: 1.2em;
    font-weight: 800;
    margin-bottom: 5px;
    padding: 15px 15px 10px;
}

.show-more {
    font-size: 1em;
    font-weight: 400;
    color: var(--icon-twitter-color);
    display: block;
    padding: 15px 15px;
}

.show-more:hover {
    background-color: var(--hover-gray-color);
}

.might-like a:hover {
    background-color: var(--hover-gray-color);
}

.might-like__rows {
    width: 100%;
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.might-like__rows:hover {
    background-color: var(--hover-gray-color);
}

.might-like__rows img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.might-like__rows-text a {
    color: var(--text-color);
    margin: 0;
    font-weight: 500;
}

.might-like__rows-text a:hover {
    text-decoration: underline;
}

.might-like__rows-text p {
    color: var(--light-text-color);
}

/* Right-menu trends */
.right-menu__trends {
    width: 90%;
    border-radius: 15px;
    background-color: var(--light-gray-color);
    margin-top: 15px;
    overflow: hidden;
}

.right-menu__trends h2 {
    font-size: 1.2em;
    font-weight: 800;
    margin-bottom: 5px;
    padding: 15px 15px 10px;
}

.right-menu__trends-rows {
    padding: 10px 0 10px 15px;
    display: flex;
    justify-content: space-between;
}

.right-menu__trends-rows:hover {
    background-color: var(--hover-gray-color);
}

.right-menu__trends-text-1 {
    color: var(--light-text-color);
}

.right-menu__trends-text-2 {
    font-size: 1em;
    font-weight: 500;
    margin: 5px 0;
}

.right-menu__trends-icon i {
    color: var(--text-color);
}

/* Right-menu footer */
.right-menu__footer {
    width: 90%;
    margin-top: 5px;
    padding: 10px 15px;
}

.right-menu__footer a {
    margin-right: 12px;
    line-height: 18px;
    color: var(--light-text-color);
    font-size: 0.9em;
}

.right-menu__footer a:hover {
    text-decoration: underline;
}

.right-menu__footer i {
    font-size: 0.8em;
    margin-left: 2px;
    margin-top: 2px;
}

.right-menu__footer strong {
    color: var(--light-text-color);
    font-size: 0.9em;
    font-weight: 300;
}
