*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a,
li {
    text-decoration: none;
    list-style: none;
    color: var(--black-color);
}

button {
    border: none;
    cursor: pointer;
}

html {
    font-family: "Poppins", sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

:root {
    --gray-color: #eff3f4;
    --icon-twitter-color: #1d9bf0;
    --black-color: #000;
    --text-color: #3b3f43;
    --white-color: #fff;
    --hover-light-color: #1d9cf035;
    --hover-color: #1892e4;
    --light-text-color: #536471;
    --transparent-color: #53647100;
}

/* Left-menu */
.left-menu {
    height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid var(--gray-color);
    width: 80px;
}

@media screen and (min-width: 1024px) {
    .left-menu {
        width: 300px;
    }
}

/* Left-menu Twitter Icon */
.left-menu__twitter-icon-box {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 5px 0;
}

.left-menu__twitter-icon-box:hover {
    background-color: var(--hover-light-color);
}

.left-menu__icon-twitter {
    color: var(--icon-twitter-color);
    font-size: 2em;
}

/* Left-menu menu */
.left-menu ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.left-menu__icons {
    font-size: 1.5em;
}

.left-menu span {
    display: none;
}

@media screen and (max-width: 1024px) {
    .left-menu__icon-box-responsive {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }

    .left-menu__icon-box-responsive:hover {
        background-color: var(--gray-color);
    }
}

@media screen and (min-width: 1024px) {
    .left-menu__menu-links {
        padding: 8px 20px;
        margin-left: -15px;
        border-radius: 50px;
        display: flex;
        align-items: center;
    }

    .left-menu__menu-links:hover {
        background-color: var(--gray-color);
    }

    .left-menu__icons {
        margin-right: 20px;
    }

    .left-menu span {
        font-size: 1.2em;
        color: var(--text-color);
        display: inline;
    }
}

/* Left-menu tweet button */
.left-menu__tweet-button {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--icon-twitter-color);
}

.left-menu__tweet-button:hover {
    background-color: var(--hover-color);
}

.left-menu__tweet-button span {
    display: none;
}

.left-menu__tweet-icon {
    font-size: 1.5em;
    color: var(--white-color);
}

@media screen and (min-width: 1024px) {
    .left-menu__tweet-button {
        height: 50px;
        width: 220px;
        border-radius: 50px;
        font-size: 1em;
        font-weight: 600;
        background-color: var(--icon-twitter-color);
        margin-top: 5px;
    }

    .left-menu__tweet-button span {
        color: var(--white-color);
        display: block;
        margin: auto;
    }

    .left-menu__tweet-icon {
        display: none;
    }
}

/* Left-menu profile */
.left-menu__profile {
    height: 65px;
    width: 65px;
    border-radius: 50px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.left-menu__profile:hover {
    background-color: var(--gray-color);
}

.left-menu__profile-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.left-menu__profile-text {
    display: none;
}

.left-menu__profile-img img {
    width: 45px;
    border-radius: 50%;
    display: block;
    margin: auto;
}

.left-menu__profile-icon {
    display: none;
}

@media screen and (min-width: 1024px) {
    .left-menu__profile {
        height: 65px;
        width: 250px;
    }

    .left-menu__profile-text {
        display: block;
    }

    .left-menu__profile-text p {
        margin: -5px 0;
    }

    .left-menu__profile-text p:last-of-type {
        color: var(--light-text-color);
    }

    .left-menu__profile-icon {
        margin-right: -20px;
        display: block;
    }
}

/* Content */
.content {
    width: 600px;
    border: 1px solid red;
}

/* Right menu */
.right-menu {
    display: none;
}

@media screen and (min-width: 1024px) {
    .right-menu {
        width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        position: sticky;
        top: -2180px;
    }
}

.right-menu__input-group {
    position: sticky;
    top: 0;
    width: 80%;
    padding: 5px 0px;
    background-color: var(--white-color);
}

.right-menu__input-group label {
    position: absolute;
    top: 15px;
    left: 20px;
}

.right-menu__input-group input {
    outline: none;
    display: block;
    height: 45px;
    padding-left: 50px;
    border-radius: 50px;
    background-color: var(--gray-color);
    border: 1px solid var(--gray-color);
    width: 100%;
}

.right-menu__input-group input::placeholder {
    font-size: 1.1em;
    color: var(--light-text-color);
}

.right-menu__input-group input:focus {
    border: 1px solid var(--icon-twitter-color);
    background-color: transparent;
}

.right-menu__input-group input:focus ~ label i {
    color: var(--icon-twitter-color);
}


